<div class="img-gallery-container">
  <div class="gallery-header">
    <h1>Image Gallery</h1>
    <label class="upload-btn">
      <input type='file' (change)="addImage($event)">
      <mat-icon>add</mat-icon>
    </label>
  </div>

  <mat-grid-list cols="5" rowHeight="1:1" gutterSize="5px">
    <mat-grid-tile *ngFor="let imgName of imgKeys; let i = index"
      [matTooltip]="getImgAddedDateString(imgName)"
      (click)="imgClick(imgName, i)"
    >
      <img [src]="images[imgName][0]"
        [alt]="imgName"
      />
    </mat-grid-tile>
  </mat-grid-list>
</div>