/* flex parent */
.slider-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  background: rgba(255, 255, 255, 0.9);
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0px;
  z-index: 20;
}

/* flex children */
.left-arrow, .right-arrow, .img-container {
  padding: 0px 10px;
  text-align: center;
}

.left-arrow, .right-arrow {
  flex: 1;
}

.img-container {
  flex: 2;
}

.img {
  position: relative;
}

img {
  width: 40vw;
  max-height: 80vh;
  border: 1px solid #3f51b5;
}

/* image delete button */
.delete-btn {
  position: absolute;
  top: -20px;
  right: 2vw;
  z-index: 100;
}

/* slider close button */
.cross-btn {
  position: fixed;
  top: 0px;
  right: 10px;
  padding: 20px 20px;
}

@media (max-width: 500px) {
  .delete-btn {
    right: -2vw;
  }
}